/* global styling*/
html{
  font-family: 'GFS Didot';font-size: 22px;
    }
    
    /* Styling for the image container and the items inside it */
    .container{
      display: flex; 
      flex-wrap: wrap; 
    }
    
    /*Items for all the screenshots and pictures of your stuff*/
    .item{
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      width: 30%;
      min-width: 8rem;
      margin: auto;
    }
     .item-info{
       padding: 0.1rem;
       text-align: center;
     }
    
    .item img{
      width: 100%;
    }
    
    h2 {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    
    h2 {
      float: left;
    }
    
    h2 a {
      display: inline;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    /* Change the link color to #111 (black) on hover */
    h2 a:hover {
      background-color: #111;
    }
    
    body {
        background-image: linear-gradient(rgba(28, 28, 28, 0.45),rgba(28, 28, 28, 0.45)),
                          url('file:///H:/Year%2011%20programming/Website/Files/noodleackgroudn.png');
    }